/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2017, 1:27:21 AM
    Author     : Gaurav Jindal
*/
.list-cell{
    -fx-background-color:#ffffff;
    -fx-font-size:16px;
    -fx-font-color:#ffffff;
}
.list-cell:hover{
    -fx-background-color:#96d1ff;
    -fx-font-size:16px;
    -fx-font-color:#ffffff;
}
.list-cell:selected{
    -fx-background-color: #42adff;
    -fx-font-size:16px;
    -fx-text-fill:#ffffff;
}
.list-cell:hover:empty{
    -fx-background-color:#ffffff;
}
.button{
    -fx-background-color:#fc9e23;
    -fx-text-fill:#ffffff;
    -fx-border-width:2px;
    -fx-border-radius:2px;
}
.button:hover{
    -fx-background-color:#ffb554;
    -fx-text-fill:#ffffff;
    -fx-border-width:2px;
    -fx-border-radius:2px;
}
.button:pressed{
    -fx-background-color:#d38d30;
    -fx-text-fill:#ffffff;
    -fx-border-width:2px;
    -fx-border-radius:2px;
}

